body {
  padding: 2rem;
  height: 100vh;
  //background-image: url('../images/.png');
  background-color: $color-bg;
  font-family: $font-main;
}

.list-item{
  list-style: none;
}

.favorite{
 border: 3px solid blue;
 background-color: rgb(104, 134, 230);
}
